* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.top-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    background-color: #4b9d40;
    gap: 10px;
}

.network-icon img {
    width: 25px;
}

.button-top-navbar {
    border-style: none;
    background-color: #4b9d40;
    color: white;
    padding: 10px 18px 10px 18px;
}

.button-top-navbar:hover {
    background-color: #418241;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.bottom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #418241;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar-item {
    padding: 10px 18px 10px 18px;
    background-color: #418241;
    font-size: 1rem;
    color: white;
    border-style: none;
    height: 40px;
}

.navbar-item:hover {
    background-color: #537453;
    color: rgb(219, 219, 0);
    cursor: pointer;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-property: background-color, color, border-color;
}

.navbar-brand img {
    width: 210px;
}

.cart-widget {
    margin: 20px;
    cursor: pointer;
    padding: 10px;
}

.cart-widget:hover {
    background-color: rgb(0, 92, 0);
    border-radius: 40px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.cart-widget img {
    width: 25px;
}

h1 {
    text-align: center;
    margin: 30px;
}

.product-card {
    width: 330px;
    border-radius: 5px;
    border: 1px solid #418241;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    margin-block: 25px;
}

.img-product {
    width: 200px;
    height: 100px;
}
.precio-cantidad{
    display: flex;
    align-items: center;
    gap: 15px;
}
.seleccion-cantidad{
    display: flex;
    align-items: center;
    background-color: #418241;
}
.info-cantidad{
    width: 45px;
    color: white;
    text-align: center;
}
.botton-cantidad{
    background-color: #4b9d40;
    color: white;
    padding: 10px;
    border-style: none;
}

.buttons-card {
    display: flex;
    gap: 30px;
}

.info-button {
    background-color: #4b9d40;
    color: white;
    padding: 10px;
    border-style: none;
}

.cart-button {
    background-color: red;
    color: white;
    padding: 10px;
    border-style: none;
}

.product-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px;
}


.filter-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}

.category-filter {
    display: flex;
    gap: 15px;
}

.filter-filter {
    display: flex;
    gap: 15px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.footer-rights {
    background-color: #333333;
    padding: 10px;
}

.footer-rights p {
    color: white;
    text-align: center;
}

.navbar-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.footer-buttons {
    display: flex;
    flex-direction: column;
}

.contacto-footer {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}

.footer-brand img {
    width: 350px;
    filter: grayscale(90%);
}

.footer-networks {
    display: flex;
    gap: 20px;
}

.navbar-item-footer {
    padding: 10px 18px 10px 18px;
    background-color: #333333;
    font-size: 1rem;
    color: white;
    border-style: none;
    height: 40px;
}

.navbar-item-footer:hover {
    background-color: #537453;
    color: rgb(219, 219, 0);
    cursor: pointer;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-property: background-color, color, border-color;
}

.contacto-tres-footer {
    display: flex;
    gap: 10px;

}

.contacto-dos-footer {
    display: flex;
    gap: 10px;
}

.contacto-uno-footer {
    display: flex;
    gap: 10px;
}

.footer-pagos {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-pagos p {
    padding-left: 20px;
    color: white;
}

.footer-pagos img {
    width: 200px;
}

/* Mi cuenta */
.cuenta-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.cuenta-info {
    display: flex;
    gap: 35px;
}

.cuenta-acceder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
}

.cuenta-registrarse {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form,
input {
    padding: 10px;
}

.cuenta-button {
    width: 150px;
    border-style: none;
    padding: 10px 18px 10px 18px;
    background-color: #418241;
    color: white;
}

.cuenta-button:hover {
    background-color: #537453;
    color: rgb(219, 219, 0);
    cursor: pointer;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-property: background-color, color, border-color;
}

.cuenta-title {
    font-size: 1.3rem;
}

/* Carrito */
.carrito {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.carrito-main {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.carrito-comprar-button {
    align-self: flex-end;
    width: 150px;
    border-style: none;
    padding: 10px 18px 10px 18px;
    background-color: #418241;
    color: white;
}

.carrito-comprar-button:hover {
    background-color: #537453;
    color: rgb(219, 219, 0);
    cursor: pointer;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-property: background-color, color, border-color;
}
.botones-carrito{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
.carrito-mensaje{
    text-align: center;
}
.boton-quitar-carrito{
    background-color: #418241;
    color: white;
    border-style: none;
    padding: 8px;
}

/* Contacto */
.contacto-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    gap: 35px;
}

.contacto-info-uno {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #537453;
}

.contacto-info-uno p {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 30px 30px 30px;
}

.contacto-info-dos {
    display: flex;
    gap: 30px;
}

.contacto-info-dos-contactar {
    flex-basis: 50%;
    background-color: #537453;
    display: flex;
    justify-content: center;
}

.contacto-como {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.contacto-map {
    width: 440px;
    height: 250px;
    border-style: none;
}

.network-icon-contacto img {
    width: 35px;
}

.contacto-uno {
    display: flex;
    gap: 20px;
}

.contacto-dos {
    display: flex;
    gap: 20px;
}

.contacto-tres {
    display: flex;
    gap: 20px;
}

.contacto-networks {
    display: flex;
    gap: 50px;
}

.item-list-container {
    display: flex;
    flex-direction: column;
}

/* sección ver más */
.boton-ver-mas{
    align-self: center;
    width: 150px;
    border-style: none;
    padding: 10px 18px 10px 18px;
    background-color: #418241;
    color: white;
    margin: 30px;
}
.boton-ver-mas:hover {
    background-color: #537453;
    color: rgb(219, 219, 0);
    cursor: pointer;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-property: background-color, color, border-color;
}
.ver-mas-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Detalle de productos */
.product-card-detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 150px;
    gap: 50px;
}
.img-product-detalle{
    width: 400px;
}
.buttons-card-detalle{
    display: flex;
    justify-content: center;

}
.product-main-detalle{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.product-main-detalle p{
    font-size: 1.3rem;
}
.cart-button-detalle{
    align-self: center;
    width: 150px;
    border-style: none;
    padding: 10px 18px 10px 18px;
    background-color: red;
    color: white;
    margin: 30px;
}

/* carrito widget */
.widget{
    display: flex;
}
.widget p{
    color: yellow;
    padding-bottom: 18px;
}